@CHARSET "UTF-8";

html, body{
  height: 99.82%;
  background-color: #d8eff1;
  margin: 0;
  padding: 0;
  color: #000;
}

.gly-flip-horizontal{
	transform: scale(-1, 1);
	-o-transform: scale(-1);
	-o-transform-origin: left top;
}

.dialog-standard .ui-dialog-titlebar-close{
  display: none;
}
.main-panel-content{
	padding: 0;
	margin: 0;
	height: 100vh;
}

div.index-heard{
	padding-top: 3px;
	padding-bottom: 3px;
	color: #000;
}

div.index-heard *{
	color: #000;
}

.main-fraim{
	width: 100%;
	height: 100%; 
	border: none"
}
.ifraim-panel{
	padding: 0;
	height: 95.5%;
}

.main-tbl{
	width: 100%;
}

.main-tbl .badge, .main-tbl .faucet-id-td{
	font-size: 18px;
	color: #fff;
}

.main-tbl .faucet-id-td{
	color: #000;
	font-weight: bold;
	white-space: nowrap;
		width: 75px;
}
.descr-txt{
	font-size: 14px;
	line-height: 29px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis; 
	height: 30px;
	vertical-align: middle;
	padding: 0 5px 0 30px
}



td.last-payout-txt, td.last-payout-txt *{
	font-size: 12px;
	vertical-align: middle;
	padding: 0 5px 0 10px;
	color: #bd424f;
	font-weight: bold;
	white-space: nowrap;
}

td.last-payout-txt{
	width: 180px;
}

.lbl-inp{
	font-size: 14px;
	font-weight: bold;
}
.input-control-td{
	white-space: nowrap;
	width: 200px;
	padding-right: 20px;
	padding-left: 20px;
}

.input-control-td .txt-inp{
	padding: 0 3px 0 3px;
	font-size: 18px;
	width: 100px;
	text-align: right;
	border: 1px solid #ccc;
	border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
}

.num-info-td{
	padding-left: 10px;
	padding-right: 70px;
	white-space: nowrap;
	width: 215px;
}

.last-payment{
	font-family: arial;
	padding-left: 140px;
	font-size: 12px;
	font-weight: bold;
	color: #e60073;
	white-space: nowrap;
}
.tool-btn-td{
	width: 160px;
	white-space: nowrap;
}

table.faucets-info-tbl td{
	font-size: 11px;
	padding: 0 5px;
	color: #7c6505;
}
table.faucets-info-tbl td.faucet-prompt-td{
	font-size: 14px;
	font-weight: bold;
}
table.faucets-info-tbl .faucet-count-td{
	text-align: right;
	font-weight: bold;
}


table.main-tbl td.tool-btn-td div.btn-group{
	width: 160px;
}





div.dasboard-frotor label.control-label{
	white-space: nowrap;
}
.id-dasboard-frotor-div{
	margin-top: 6px;
	font-size: 18px;
}
.id-dasboard-frotor-label{
	font-size: 18px;
}
div.tools-btn .glyphicon{
	font-size: 20px;
}


ul.time-units{
	min-width: 68px;
}
ul.time-units li{
	padding: 0 0 0 5px;
	cursor: pointer;
}
ul.time-units li:HOVER {
	background-color: #ebebeb;
}